version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: git-name
    command: sh -c "yarn install && yarn dev"
    ports:
      - 7890:5173
    volumes:
      - .:/usr/src/app:cached
      - node_modules:/usr/src/app/node_modules
    working_dir: /usr/src/app


  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: php-backend
    ports:
      - 8000:8000
    volumes:
      - ./backend:/var/www
    working_dir: /var/www
    command: php -S 0.0.0.0:8000

volumes:
  node_modules:
    driver: local
